<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>MenuTimerIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1b1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>191031</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009,2015,2019 Kristopher Johnson</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>startCountdown</string>
			<key>NSPortName</key>
			<string>Menubar Countdown</string>
			<key>NSServiceDescription</key>
			<string>Show the Menubar Countdown start dialog</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Start Menubar Countdown</string>
			</dict>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>stopCountdown</string>
			<key>NSPortName</key>
			<string>Menubar Countdown</string>
			<key>NSServiceDescription</key>
			<string>Stop Menubar Countdown timer</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Stop Menubar Countdown</string>
			</dict>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>pauseCountdown</string>
			<key>NSPortName</key>
			<string>Menubar Countdown</string>
			<key>NSServiceDescription</key>
			<string>Pause the Menubar Countdown timer</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Pause Menubar Countdown</string>
			</dict>
		</dict>
		<dict>
			<key>NSMessage</key>
			<string>resumeCountdown</string>
			<key>NSPortName</key>
			<string>Menubar Countdown</string>
			<key>NSServiceDescription</key>
			<string>Resume the Menubar Countdown timer when paused</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Resume Menubar Countdown</string>
			</dict>
		</dict>
	</array>
    <key>NSAppleScriptEnabled</key>
    <true/>
    <key>OSAScriptingDefinition</key>
    <string>MenubarCountdown.sdef</string>
</dict>
</plist>
